/*
node_modules/

!bin
!.github
!.vscode
!app
!cmd
!components
!content
!lib
!public

!go.mod
!go.sum
!.editorconfig
!.gitignore
!.node-version
!next.config.mjs
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!source.config.ts
!vite.config.ts
!tsconfig.json
!postcss.config.mjs
